<!DOCTYPE html>
<html lang="ko">
    <head>
        <mata charset="utf-8">
        <title>Vue3 Note</title>
        <style>
            *{
                margin:0; padding:0; font-family: '맑은고딕', 'Lato', Gothic A1, Consolas; font-size: 16px; line-height: 1.4;
            }
            body{background: #efefef; padding-bottom:10px;}
            hr{margin: 30px 0 -10px; border-top:1px dashed #aaa;}
            h2{ margin:25px 10px 7px 10px; padding:2px 0; font-size:20px;}
            details{ overflow: hidden; margin:10px; box-shadow: 0 0 8px rgba(0,0,0,.2); border-radius: 7px; background:#fff;}
            summary {padding:12px 10px; font-size:18px; font-weight: bold; }
            .desc_wrap{ padding:7px 10px 7px 25px; border-top:1px solid #ddd;}
            ul{ list-style: none; }
            ul > li{ position: relative;  padding: 3px 0; padding-left:10px;}
            ul > li::before { content:'ㆍ'; position: absolute; top:3px; left:-4px;}
            ol { padding:10px 0 0 15px;}
            p{padding:2px 5px;}
            b{font-weight: 700;}
            .code{overflow-x: auto; margin: 8px 0 15px; padding:10px; border-radius: 7px; background:#213547; color:#ddd;}
            xmp{display: inline-block;}
            ul > li > pre {margin: 8px 0 15px;}
            .gray{color:#888;}
            .org{color:#F07178;}
            .pp{color:#C792EA;}
        </style>
    </head>
    <body>
        <h2>반응형 기초</h2>
        <details>
            <summary>nextTick</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        method에서 업데이트 된 DOM에 접근 가능하게 함
                        <div class="code">
                            <xmp>const onHandleEvent = () => {
    count.value += 1
    nextTick(() => {
        console.log(document.querySelector('#countPrint').textContent)
    })
}</xmp>
                        </div>
                    </li>
                    <li>
                        async / awaite로 nextTick 적용하는 방법
                        <div class="code">
                            <xmp>const onHandleEvent = async () => {
    count.value += 1
    await nextTick()
    console.log(document.querySelector('#countPrint').textContent) <span class="gray">// 2</span>
}</xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>

        <h2>계산된 속성</h2>
        <details>
            <summary>method와 computed 차이</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        <b>method</b> : 어떤 값이 변하면 리렌더링하고, 리렌더링 할 때 마다 함수를 실행함
                    </li>
                    <li>
                        <b>computed</b> : 관련된 값이 직접적으로 변화하기 전 까지 업뎃 안됨.
                        의존된 반응형을 기반으로 캐시 됨
                    </li>
                    <li>
                        computed는 기본이 getter 전용임. 드물게 수정 가능하게 하려면 get() / set()으로 설정해 줄 수 있음
                    </li>
                </ul>
            </div>
        </details>

        <h2>클래스와 스타일 바인딩</h2>
        <details>
            <summary>컴포넌트에서 클래스 사용. $attrs</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        컴포넌트에서 준 클래스는 자식에게 추가로 준다.
                    </li>
                    <li>
                        클래스 바인딩도 마찬가지
                        <div class="code">
                            <xmp><MyComponent :class="{ active: isActive }" /></xmp>
                        </div>
                    </li>
                    <li>
                        여러 자식 엘리먼트 중에 클래스를 줄 자식에게 $attrs 속성을 사용해야함
                        <div class="code">
                            <xmp><p :class="$attrs.class">안녕!</p></xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>

        <h2>조건부 렌더링</h2>
        <details>
            <summary>v-if와 v-show 차이</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        v-if는 lazy함. 실제 조건부 렌더링으로 false면 true일 때 까지 아무 일도 안함.<br>
                        v-if는 전환 비용이 높음 → 조건이 적게 변경되는 경우 사용
                    </li>
                    <li>
                        v-show는 CSS기반으로 초기 조건과 관계 없이 렌더링<br>
                        v-show는 초기 렌더링 비용이 높음 → 매우 자주 변환 시 사용
                    </li>
                </ul>
            </div>
        </details>
        <details>
            <summary>v-if와 v-for 동시 사용</summary>
            <div class="desc_wrap">
                <ul>
                    <li>v-if와 v-for를 같은 노드에 사용불가</li>
                    <li>v-if가 우선순위가 높고, v-for 접근을 안함</li>
                    <li>
                        해결 : v-if / v-for 모두 <xmp><template></xmp>에 사용할 수 있기 때문에 템플릿에 v-for를 먼저 선언
                        <div class="code"><xmp><template v-for="todo in todos">
    <li v-if="!todo.isComplete">
        {{ todo.name }}
    </li>
</template></xmp></div>
                    </li>
                </ul>
            </div>
        </details>

        <h2>목록 렌더링</h2>
        <details>
            <summary>v-for</summary>
            <div class="desc_wrap">
                <ul>
                    <li>목록이 변경 될 때 추적할 수 있게 :key로 힌트를 제공해야함</li>
                    <li>컴포넌트에서 v-for를 사용하면 데이터를 전달하기 위해 props를 사용해야함</li>
                    <li>
                        computed로 편집한 객체나 배열을 v-for할 수도 있음
                        <div class="code">
                            <xmp>const fruitSort = computed(() => {
    return fruits.value.filter((fruit) => fruit.title === '포도')
})</xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>
        <details>
            <summary>v-for와 ref/reactive</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        ref 객체를 이용한 렌더링
                        <div class="code">
                            <xmp>const fruits = ref([{ 
        title: '사과', 
        color: '빨강'
    }, { 
        title: '포도', 
        color: '보라' 
    }, { 
        title: '오렌지', 
        color: '주황' 
}])

<li v-for="(fruit, index) in fruits" :key="index">{{ fruit.title }} : {{ fruit.color }}</li></xmp>
                        </div>
                    </li>
                    <li>
                        reactive 객체를 이용한 렌더링
                        <div class="code">
                            <xmp>const fruits = reactive({ title: '사과', color: '빨강' })

<li v-for="(value, key, index) in fruits" :key="key">{{ index }}. {{ value }}</li></xmp>
                        </div>
                    </li>
                    <li>
                        - ref .접근자로 접근하지만 reactive는 알아서 접근<br>
                        - 객체를 재할당하면 ref는 반응형을 유지 / reactive는 반응형을 잃음<br>
                        - ref와 reactive를 섞어 쓰기보다는 ref로 통일하여 일관성 있게 작업
                    </li>
                </ul>
            </div>
        </details>

        <h2>이벤트 처리</h2>
        <details>
            <summary>이벤트 수식어</summary>
            <div class="desc_wrap">
                <ul>
                    <li>.stop : 클릭 이벤트 전파 중지( = event.stopPropagation())</li>
                    <li>.prevent : 기본 이벤트 중지( = event.preventDefault())</li>
                    <li>.self : event.target이 엘리먼트 자신일 경우만 실행</li>
                    <li>.capture : 캡처링</li>
                    <li>.once : 이벤트 한번만</li>
                    <li>.passive : event.preventDefault() 무효화.<br>.prevent와 동시 사용 불가</li>
                    <li>
                        수식어를 연결할 수도 있고, 핸들러 없이도 사용 가능
                        <div class="code">
                            <xmp><a @click.stop.prevent="doThat"></a>

<form @submit.prevent></form>

<div @scroll.passive="onScroll">...</div></xmp>
                        </div>
                    </li>
                </ul>
                <p>* @click.prevent.self :  모든 클릭 차단</p>
                <p>* @click.self.prevent :  자신 클릭 차단</p>
            </div>
        </details>

        <h2>Form 입력 바인딩</h2>
        <details>
            <summary>select</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        v-model의 초기값=옵션값이 아니면 선택되지 않은 상태로 렌더링 됨<br>
                        iOS에서 첫 번째 항목을 선택 할 수 없게 됨<br>
                        빈값을 주고 비활성화 해야함
                    </li>
                </ul>
            </div>
        </details>

        <h2>감시자</h2>
        <details>
            <summary>watch 특성</summary>
            <div class="desc_wrap">
                <ul>
                    <li>얕은 감시자 특성 → 깊은 감시자로 변경하려면 deep:true</li>
                    <li>lazy 특성 → 즉각 감시로 변경하려면 immediate:true</li>
                    <li>
                        부모컴포넌트 업데이트 후 자신 컴포넌트 업데이트 전에 호출<br>
                        → 업데이트 후 DOM 액세스하려면 flush:'post'<br>
                        → 동일한 틱 내에 변경 때 마다 동기적으로 호출하려면 flush: 'sync'
                    </li>
                </ul>
            </div>
        </details>
        <details>
            <summary>watch와 computed의 역할</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        computed는<br>
                        - 컴포넌트의 상태를 변경하고 싶을 때 사용
                    </li>
                    <li>
                        watch는<br>
                        - 비동기 처리 (ex : 데이터를 fetch할 때)<br>
                        - 시간이 많이 소요되는 조작 (ex : lodash)<br>
                        - DOM 조작하기<br>
                        - 로컬 저장소, 오디오 재생과 같은 브라우저 API<br>
                    </li>
                    <p>* computed가 선언형 프로그래밍 방식으로 사용 할 수 있으면 우선 시 한다.</p>
                </ul>
            </div>
        </details>
        <details>
            <summary>watch와 watchEffect 차이</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        watch는<br>
                        - 이전 값을 같이 보고 싶을 때 사용<br>
                        - lazy해서 특정 데이터가 변경 됐을 때 실행<br>
                        - reactive 종속성이 변경 될 때만 실행
                    </li>
                    <li>
                        watchEffect는<br>
                        - watch의 단순화 버전<br>
                        - 의존성이 있는 데이터에 대해 즉각 실행(초기값 포함)<br>
                        - 정의되거나 reactive 종속성이 변경될 때 즉시 실행
                        - Composition API에서만 사용 가능
                    </li>
                </ul>
            </div>
        </details>

        <h2>템플릿 참조</h2>
        <details>
            <summary>부모 , 자식간의 ref 활용을 위한 defineExpose</summary>
            <div class="desc_wrap">
                <p>
                        script setup은 private하기 때문에 전체 액세스 권한을 거부할 수 있다.<br>
                        때문에 부모, 자식간에 같은 권한을 가지려면 defineExpose에 넣어 데이터를 노출한다.
                </p>
            </div>
        </details>

        <h2>구성 요소 기본 사항</h2>
        <details>
            <summary>$emit</summary>
            <div class="desc_wrap">
                <p>
                        자식에게서 부모에게 이벤트를 통신하는 emit은 자식은 카멜케이스로, 부모는 케밥케이스로 한다.<br>
                        @는 자동으로 소문자 변환을 하기 때문에 카멜케이스로 쓰면 오류가 발생 할 수 있다.
                </p>
            </div>
        </details>

        <hr>

        <h2>컴포넌트 등록</h2>
        <details>
            <summary>script setup에 지역등록</summary>
            <div class="desc_wrap">
                <p>SFC에서 script setup에 import로 등록하는 것은 로컬 등록</p>
            </div>
        </details>

        <details>
            <summary>script setup에 전역등록</summary>
            <div class="desc_wrap">
                <div class="code">
                    <xmp>import { createApp } from 'vue'

const app = createApp({})

app.component('App', App)</xmp>
                </div>
            </div>
        </details>

        <h2>컴포넌트 이벤트</h2>
        <details>
            <summary>defineEmits</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        script setup에서 $emit은 template에 액세스 할 수 없음<br>
                        defineEmits()으로 명시화해서 액세스
                    </li>
                    <li>
                        함수 안에 직접 사용 할 수 없고 따로 선언 할당 후 가져올 수 있음
                        <div class="code">
                            <xmp>const emit = defineEmits(['inFocus', 'submit'])
        
function buttonClick() {
    emit('submit')
}</xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>

        <h2>대체 속성</h2>
        <details>
            <summary>fallthrough</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        전달되지 않는 속성 : prop / emit<br>
                        전달되는 속성 : class / style / id 등
                    </li>
                    <li>class / style은 부모, 자식 컴포넌트 속성을 병합 함</li>
                    <li>v-on은 상속 되어 부모, 자식 컴포넌트에서 모든 리스너 트리거</li>
                </ul>
                <p>* $attrs로 접근 ex) $attrs.class</p>
                <p>* 상속 비활성화 : defineOptions({ inheriteAttrs : false })</p>
            </div>
        </details>

        <h2>슬롯</h2>
        <details>
            <summary>slot</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        엄격한 부모, 자식 컴포넌트 관계가 아닌 Vue 컴포넌트 메커니즘
                    </li>
                    <li>자식에게 있어야 할 템플릿을 부모에서 작성할 수 있고, 자식만 접근 할 수 있는 prop값을 slot의 props로 부모가 접근 할 수 있게 함</li>
                    <li>부모에게 전달 할 데이터가 많을 경우 좋지 않은 방법</li>
                    <li>html 태그 처럼만 사용 할 수 있어 class, style과 같은 데이터는 넘길 수 없음<li>
                </ul>
            </div>
        </details>
        
        <h2>제공/주입</h2>
        <details>
            <summary>provide 잘 사용하는 법</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        반응성 값과 관련 메소드의 유지관리를 위해 묶어 객체로 전달하는 방법을 씀<br>
                        <span class="gray">- provide component</span>
                        <div class="code">
                            <xmp>import { ref, provide, readonly } from 'vue'

const num1 = ref(0)
function updateCount() {
    num1.value++
}

provide(num1, {num1, updateCount})
</xmp>
                        </div>
                    </li>
                    <li>
                        inject로 쉽게 편집되어 오염될 수 있을 때 readonly 함수를 사용<br>
                        <span class="gray">- inject component</span>
                        <div class="code">
                            <xmp>import { inject } from 'vue'

const { num1, updateCount } = inject('num1')

<template>
    <button @click="updateCount">{{ num1 }}</button>
</template>
</xmp>
                        </div>
                    </li>
                    <li>
                        대규모 프로젝트에서는 provide 키 값을 string으로 사용하기 보다 Symbol로 관리하면 좋음<br>
                        Symbol를 사용해 고유한 키로 만들고 실수로 값을 변경하는 일이 없도록 해서 무결성과 안정성 보장.<br>
                        <span class="gray">- keys.js</span>
                        <div class="code">
                            <xmp>export const injectionKey = Symbol()</xmp>
                        </div>
                        <span class="gray">- provide component</span>
                        <div class="code">
                            <xmp>import { provide } from 'vue'
import { injectionKey } from './keys.js'

provide(injectionKey, { ... })
</xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>

        <details>
            <summary>inject</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        inject를 했는데 provide가 없을 때 기본값 설정
                        <div class="code">
                            <xmp>const value = inject('key', 100) // 기본값 100으로 설정</xmp>
                        </div>
                    </li>
                    <li>
                        inject를 했는데 provide가 없을 때 동작할 함수 설정
                        <div class="code">
                            <xmp>const value = inject('key', () => {
    return Math.random()
})</xmp>
                        </div>
                    <li>
                </ul>
            </div>
        </details>
        
        <h2>비동기 구성요소</h2>
        <details>
            <summary>defineAsyncComponent</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        현재 필요없는 컴포넌트를 나중에 로드해서 로드 속도를 올릴 수 있는 방법<br>
                        v-if를 써서 노출/비노출을 하는 방법은 컴포넌트를 이미 불러와 놓고 수행함.
                    </li>
                </ul>
            </div>
        </details>

        <h2>컴포저블</h2>
        <details>
            <summary>컴포지션 API의 인수와 toValue</summary>
            <div class="desc_wrap">
                <p>
                        컴포저블 함수의 인수 값을 정확하게 넣지 않으면 오류가 생길 수 있다.<br>
                        이때 toValue()를 이용해 유연하게 만들 수 있다.<br><br>
                        - 인수가 참조 → 참조값 반환<br>
                        - 인수가 함수 → 반환값 반환<br>
                        - 인수가 참조X / 함수X  → 인수 그대로 반환<br><br>
                        
                        <a href="https://vuejs.org/guide/reusability/composables.html#accepting-reactive-state" target="_blank">예제 ></a><br>
                        위의 예제에서 toValue()를 사용해 URL 문자열, 참조 및 getter를 허용
                </p>
            </div>
        </details>

        <details>
            <summary>컴포지션 API의 watchEffect와 isRef</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        컴포지션 API에서 인수값이 바뀔 때 마다 작업을 하기 위해 즉시 감시자인 watchEffect를 사용 할 때 인수가 ref가 아니면 watchEffect는 오버헤드가 발생함<br>
                        인수를 반응형인지 체크하기 위해 isRef를 사용
                        <div class="code">
                            <xmp>import { ref, isRef, watchEffect } from 'vue';

export function useSomething(arg) {
    const data = ref(null)

    function doSomething() {
        // arg를 이용한 실행 함수 코드
    }
    
    if (isRef(arg)) {
        watchEffect(doSomething);
    } else {
        doSomething();
    }
    
    return data
}</xmp>
                        </div>
                    </li>
                </ul>
            </div>
        </details>

        <details>
            <summary>Composition API와 React Hook의 유사성</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        React Hook과 비슷해보이지만 차이점이 있음<br>
                        React Hook은 업데이트 될 때 마다 호출 되며 성능 최적화 문제가 있을 수 있음<br><br>
                        <a href="https://vuejs.org/guide/extras/composition-api-faq.html#comparison-with-react-hooks" target="_blank">자세한 내용은 추후에 ></a>
                    </li>
                </ul>
            </div>
        </details>

        <h2>커스텀 디렉티브</h2>
        <details>
            <summary>커스텀 디렉티브 훅 기능 (Directive Hook)</summary>
            <div class="desc_wrap">
                <ul>
                    <li><b>created</b><br>바인딩된 엘리먼트의 속성 또는 이벤트 리스너가 적용 전에 호출</li>
                    <li><b>beforeMount</b><br>엘리먼트가 DOM에 삽입되기 전에 호출</li>
                    <li><b>mounted</b><br>바인딩된 엘리먼트이 부모 컴포넌트 및 모든 자식 컴포넌트의 mounted 이후 호출</li>
                    <li><b>beforeUpdate</b><br>부모 컴포넌트의 update 전에 호출</li>
                    <li><b>update</b><br>바인딩된 엘리먼트의 부모 컴포넌트 및 모든 자식 컴포넌트의 updated 이후 호출</li>
                    <li><b>beforeUnmount</b><br>부모 컴포넌트의 beforeUnmount 이후에 호출</li>
                    <li><b>unmounted</b><br>부모 컴포넌트의 unmounted 전에 호출</li>
                </ul>
            </div>
        </details>

        <details>
            <summary>커스텀 디렉티브 훅 인자</summary>
            <div class="desc_wrap">
                <ul>
                    <li><b>el</b><br> 디렉티브가 바인딩된 엘리먼트</li>
                    <li>
                        <b>binding</b><br>
                        - <b>value</b><br>
                        &nbsp;&nbsp;&nbsp;디렉티브에서 전달 된 값<br>
                        - <b>oldValue</b><br>
                        &nbsp;&nbsp;&nbsp;beforeUpdate / updated에서만 사용. 업데이트 이전 값<br>
                        - <b>arg</b><br>
                        &nbsp;&nbsp;&nbsp;디렉티브에서 전달 된 인자<br>
                        &nbsp;&nbsp;&nbsp;v-my-directive:foo<br>
                        - <b>modifiers</b><br>
                        &nbsp;&nbsp;&nbsp;수식어가 있는 경우, 수식어 객체<br>
                        &nbsp;&nbsp;&nbsp;v-my-directive.foo.bar 에서 수식어 객체는 { foo : true, bar: true }<br>
                        - <b>instance</b><br>
                        &nbsp;&nbsp;&nbsp;디렉티브가 사용되는 컴포넌트의 인스턴스<br>
                        - <b>dir</b><br>
                        &nbsp;&nbsp;&nbsp;디렉티브를 정의하는 객체<br>
                    </li>
                    <li><b>vnode</b><br>바인딩된 엘리먼트를 나타내는 기본 VNode</li>
                    <li><b>prevNode</b><br>beforeUpdate / updated에서만 사용. 이전 렌더링에서 바인딩된 엘리먼트를 나타내는 VNode.</li>
                </ul>
                <p>* el 인자를 제외하고 수정 할 수 없는 읽기 전용으로 둬야 함</p>
                <p>* 컴포넌트에 커스텀 디렉티브를 사용 할 경우 둘 이상의 root 노드가 있으면 에러가 나기 때문에 사용X</p>
            </div>
        </details>

        <h2>플러그인</h2>

        <details>
            <summary>플러그인</summary>
            <div class="desc_wrap">
                <ol>
                    <li>여러 곳에서 쓰일 공통 함수를 plugins 디렉토리에 만들고 export 한다.</li>
                    <li>install에 app.config.globalProperties.$name 로 전역 속성으로 사용 할 수 있게 등록</li>
                    <li>root인 main.js에 import하고 app.use()로 사용 전달</li>
                </ol>
            </div>
            <p>* 전역으로 사용은 지양해야함. 너무 많은 전역 속성이 생기면 혼란을 줌</p>
            <p>* install할 때 app.provide() / 사용하는 곳에서 inject('pluginName')으로 지역 제공/주입 가능</p>
        </details>

        <details>
            <summary>대표 플러그인</summary>
            <div class="desc_wrap">
                <ul>
                    <li><b>Vue-router</b><br>공식 라우터로 컴포넌트 매핑 및 경로 충첩과 같은 작업 수행</li>
                    <li><b>Vuex</b><br>컴포넌트 중앙 저장소 역할을 하며 상태 관리를 담당</li>
                    <li><b>Vee-validate</b><br>Form 유효성 검사 기능</li>
                </ul>
            </div>
        </details>

        <h2>Transition 애니메이션</h2>
        
        <details>
            <summary>Transition 클래스</summary>
            <div class="desc_wrap">
                <ul>
                    <li>
                        <b>진입 클래스 (Enter)</b><br>
                        v-enter-from → v-enter-active  → v-enter-to
                    </li>
                    <li>
                        <b>진출 클래스 (Leave)</b><br>
                        v-leave-from → v-leave-active  → v-leave-to
                    </li>
                </ul>
                <p>* from : 시작값 / active : easing 처리 / to : 결과값</p>
            </div>
        </details>

        <details>
            <summary>자바스크립트 Hook</summary>
            <div class="desc_wrap">
                <p>자바스크립트 전용 트랜지션을 사용할 때 <b>:css="false"</b>를 추가해 CSS 트랜지션 자동 감지를 꺼두어 성능 향상하는 것이 좋음.</p>
            </div>
        </details>
    </body>
</html>